@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./fontello.css);
@import url(./normalize.css);



/* 기본 박스 사이징 재설정 (width에 border-width와 padding을 포함하여 계산) */
*, *::before, *::after{
    box-sizing: border-box;
}
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
    position: absolute;
    width: 1px;             
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);
    clip-path: polygon(0 0, 0 0, 0 0);
}

/* CSS Module */
/* float 이슈를 해결하기 위한 CSS 선언 */
.clearfix::after{
    content: "";
    display: block; /* content는 inline 요소라 클리어가 무시됨 따라서 display에 block을 설정해줌*/
    clear: both;    /* 모두 float라서 main이 높이 못잡아도 clearfix가 강제로 마진 추가함(탑방향으로)*/
}

/* 기본설정 */
html{
    font-size: 10px;
}
body{
    font-size: 1.4rem;
    color: #181818;
    background-color: #fff;
    font-family: 'spoqa han sans', 'sans-serif';
    font-weight: 300;
}
a{
    text-decoration: none;
    color: inherit;
}

.container{
    background-color: silver;
    /* display: flex;
    flex-direction: column;     /* flex정렬 방향(justify-content: 주축, align=items: 교차축) */
    /* align-items: center; */
}

.header, .visual, .main, .slogan, .footer{
    box-sizing: border-box;
    width: 940px;
    margin: 0  auto;
}

.header{
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    padding: 0 30px;
    position: relative;
    /* height: 10vh; */
}

/* 로고 */
.logo{
    position: absolute;
    top: 45px;
    left: 62px;
    margin: 0;
    /* z-index: 10; */
}

/* 멤버 링크 */
.member{
    margin: 0;
    padding: 2px 0;
    list-style-type: none;
    text-align: right;
    font-size: 0;
    position: relative;
    right : -10px;
}

.member li, a{
    display: inline-block;
}

.member li{
    /* background-color: yellow; */

    font-size: 1.4rem;
}

.member li:nth-child(n+2)::before{
    content: ":";
    margin: 0, 2px;
}

.member a{
    text-transform: uppercase;
    padding: 8px 10px;
    /* background-color: aqua; */
}

/* 메인메뉴 */
.navigation{
    padding-bottom: 50px;
}
.menu{
    height: 47px;
    list-style: none;
    padding-left: 225px;
    margin: 0;
    background: linear-gradient(to bottom, #e8852e 0%,#ed552f 35%,#ed552f 70%,#e8852e 100%); /*그라이언트는 백그라운드 이미지임*/
    background-color: #ed552f;      /* 그라디언트가 안될때 백그라운드 컬러가 적용되기 위해서 설정함 */
    border-top: 2px solid #000;         
    /* box-shadow: 0 -10px 0 0 #000;   */
   
}

.menu-act .menu-button{
    color: yellow;
}
.menu-act .menu-button::after{
    content: "";
    display: block;
    border-top: 2px solid #000;
    background-color: green;
}


.menu-item{
    /* background-color: skyblue; */
    outline: none;
    position: relative;
    float: left;  
    border-left: 2px solid rgba(255,255,255,0.3);
}

.menu-button{
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 1.6rem;
    display: block;
    line-height: 45px;
    padding: 0 20px;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

.submenu{
    list-style: none;
    padding-left: 0;
    margin: 0;
    position: absolute;
    /* background-color: lightgreen; */
    display: none;
    white-space: nowrap;
    top: 47px
}

.menu-act .submenu{
    /* background-color: pink; */
    display: block;
}

.menu li:nth-child(-n+3) .submenu{
    left: 0;
}

.menu li:nth-child(n+4) .submenu{
    right: 0;
}

.submenu li{
    display: inline-block;
}

.submenu a{
    padding: 8px 10px;
    /* background-color: yellow; */
}

.visual{
    position: relative;
    background-color: lime;
    
    height: 120px;
}

@keyframes textAni{
    0%{
        font-size: 12px;
        color: rgba(0,0,0,0);
        transform: translate(0,0);
    }

    100%{
        font-size: 24px;
        color: rgba(0,0,0,1);
        transform: translate(400px, 75px);
        
    }
}
.visual::before, .visual::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    animation: bgAni 2s infinite alternate;
}

@keyframes bgAni{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
.visual::before{
    background-image: url(./images/ani_flower_01.png)
    ,url(./images/ani_flower_02.png) ;
    background-position: 0 -10px, 670px 0;
}

.visual::after{
    background-image: url(./images/ani_flower_03.png)
    ,url(./images/ani_flower_04.png);
    background-position: 300px 0, 800px 0;
    animation-delay: 1s;
}

.visual-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    background-color: yellow;
    animation-name: textAni;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
    color: rgba(0,0,0,0);
}

.main{
    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap; /* flex방향, 줄바꿈 허용 선언 */
    justify-content: space-around;  /* 균등분배 */
    min-height: 450px;
    padding: 30px 15px;
    background-color: #fff;
    border-radius: 15px 15px 0 0;

    /* flex-wrap: wrap; 줄바꿈 허용 */
    /* overflow: hidden;           reflow:다시그림->자식요소 높이 불러옴-> main이 다시 그림 repaint */
    /* padding: 30px 15px; */
}

.group{
    /* float: left;
    height: 60vh;
    margin:  0 15px; */
}

.group1{
    width: 250px;
}

.group2{
    width: 380px;
}

.group3{
    width: 190px;
}


/* 로그인 */
.login{
    background-color: #ed552f;
    background-image: radial-gradient(circle at right top, #e8852e, #ed552f);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 0 0 #aaa;
    padding: 10px;
}

.login-heading{
    margin: 0;
    font-size: 1.5rem;
    color: #ff0;
    text-indent: 10px;
}

.login-form{
    background-color: #fff;
    margin-top: 10px;
    padding: 10px 10px 0 10px;
}

.login-form fieldset{
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
}

.user-email, .user-pw{
    margin-bottom: 5px;
}

.login-form label{
    width: 4em;
    display: inline-block;
}

.login-form input{
    width: 90px;
    height: 22px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
}

.btn-login{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #ed552f;
    border-radius: 3px;
    background-color: #e8852e;
    color: #fff;
    padding: 0; /* 버튼은 패딩이 제멋대로라 꼭 이거 지정해야함 */
    font-size: 1.3rem;
    font-weight: 400;
}

.sign{
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap; /*기본값 row, 줄바꿈 안함*/
    justify-content: space-between;
    padding: 2px 10px;
    font-size: 1.3rem;
}

.sign .icon-right-open::before{ /*아이콘은 가상요소 선택자라 접근도 가상요소 선택자로*/
    color: #ed552f;
    margin: 0;
}
.sign a{
    display: inline-block;
    padding: 8px 0;
}

/* 유효성 검사 배너 */
.validation-list{
    /* background-color: yellow; */
    padding-left: 0;
    margin: 25px 0;
    list-style: none;
}
   

.validation-list a{
    display: block;
    border: 1px solid #aaa;
    border-radius: 35px;
    margin-top: 10px;
    padding: 7px 10px 8px 45px;
    background: url(./images/validation_icon.png) no-repeat 20px 50%, #ccc linear-gradient(180deg, #bbb, #eee);
    
}

.validation-list li:hover{
    color: red;
}

/* 웹관련 용어 */
.term{
    border: 1px solid #aaa;
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
    background: #ccc linear-gradient(180deg, #bbb, #eee);
    padding: 15px 15px;
}

.term-heading{
    margin: 0 0 15px 0;
    font-size: 1.6rem;
}

.term-list{
    margin: 0;
}

.term-list div{
    margin-top: 15px;
}

.term-list dd{
    margin-left: 0;
}

.term-list-subject, .term-list-brief{
    width: 145px;
    float: right;
}
.term-list-subject{
    color: #296897;
    font-weight: 400;
}
.term-list-thumbnail{
    float: left;
}

.term-list-thumbnail img{
    vertical-align: top;
}

.term-list-brief{
    margin-top: 5px;
    line-height: 1.6;    
}

.change-layout .term-list-subject, .even .term-list-brief{
    float: left;
}

.change-layout .term-list-thumbnail{
    float: right;
}


/* 검색 폼 */
.search-form{
    background: #ccc linear-gradient(180deg, #bbb, #eee);
    border: 1px solid #aaa;
    border-bottom-color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 15px 25px 10px 25px;
    margin: 0;    
}


.search-form fieldset{
    border: 0;
    margin: 0;
    padding: 0;
    border: none;
    
}

.search-form input[type="search"]{
    width: 200px;
    margin: 0 4px;
    padding: 1px 1px 1px .5em;
}

.search-form label, .search-form input[type="search"], .btn-search{
    vertical-align: middle;
}

.search-form input[type="search"], .btn-search{
    height: 24px;
    border: 1px solid #aaa;
    border-radius: 3px;    
}

.btn-search{
    color: #fff;
    background-color: #181818;
    padding: 0 8px;
    font-size: 1.2rem;
}

/* 공지사항 및 자료실 */
.board{
    /* background-color: yellow; */
    width: 380px;
    position: relative;
    padding-top: 45px;
}

.notice-list, .notice-more, .pds-list, .pds-more{
    display: none;
}

.board-act .notice-list, .board-act .notice-more,
.board-act .pds-list, .board-act .pds-more{
    display: block !important;
}

.tab{
    font-weight: 400;
    margin: 0;
    font-size: 1.4rem;
    position: absolute;
    top:0;
}

.tab a{
    display: block;
    padding: 8px 10px;
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    color: #888;
    background: #ccc linear-gradient(180deg, #bbb, #eee);
}

.board-act .tab a{
    background: #fff;
    color: #ed552f;
    border-color: #ed552f #ed552f #fff #ed552f;
}

.notice-heading{
    left: 0;
}

.pds-heading{
    left: 73px;
}

.notice-list, .pds-list{
    /* background-color: pink; */
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.notice-list li, .pds-list li{
    /* background-color: orange; */
    margin-bottom: 8px;
    /* overflow: hidden; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.notice-list li::before, .pds-list li::before{
    /* float: left; */
    /* background-color: tomato; */
}


.notice-list a, .pds-list a{
    /* background-color: lime; */
    /* float: left;
    width: 285px; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* flex-grow: 1;  밑에 마진 오토 지우고 써라, flex를 좌우로 늘린것*/ 
}

.notice-list time, .pds-list time{
    /* background-color: aqua; */
    margin-left: auto;
    /* float: right; */
}

.notice-more, .pds-more{
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
    
}

.notice-more .icon-plus, .pds-more .icon-plus{
    color: hsla(110, 5, 30%, 1);
}

/* 스스로 짠것 */
/* .board{
    background-color: yellow;
    width: 380px;
    position: relative;
}

.notice-heading a, .pds-heading a{
    border: 1px solid silver;
    width: 75px;
    height: 30px;
    
    background: #ccc linear-gradient(180deg, #bbb, #eee);
    text-align: center;
    font-size: 1.3rem;
    padding: 5px 5px;
    border-radius: 5px 5px 0 0;
}


.notice-list, .pds-list{
    background-color: skyblue;
    list-style: none;
    padding: 0;
}

.notice-list li a, .pds-list li a{
    background-color: blue;
}

.notice-list time, .pds-list time{
    background-color: chartreuse;
    float: right;
}

.notice a{
    background-color: coral;
} */

/* 새소식 */
.news{
    position: relative;
}
.news::before{
    content: "";
    position: absolute;
    background: #ccc linear-gradient(90deg,#bbb,#fff);
    width: 80%;
    height: 1px;
    top:35px;
    left:0;
}
.news-heading{
    color: #ed552f;
    font-size: 1.5rem;
    margin: 0 0 35px 0;
    /* background: skyblue; */
}
.news-link{
    /* background: pink; */
    display: block;
}

.news-item{
    padding-left: 125px;
    position: relative;
    min-height: 100px;
}
.news-item-subject{
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
}
.news-item-brief{
    margin: 10px 0 0 0;
    line-height: 1.6;
}
.news-item-thumbnail{
    /* background: lime; */
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.news-item-thumbnail img{
    box-shadow: 0 15px 15px 2px #aaa;
    display: block;
    margin-bottom: 15px;
}

.news-more{
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
}

.news-more .icon-plus{
    color: green;
}

/* 신규 이벤트 및 관련 사이트 */
.gradient-box{
    border: 1px solid #aaa;
    background: #ccc linear-gradient(180deg, #bbb,#fff);
    padding: 10px 10px;
    border-radius: 5px 5px 5px 5px;
}

.event{
    position: relative;
    border-bottom: 1px solid #bbb;
    /* background-color: yellow; */
}

.event-heading, .related-heading{
    margin: 0 0 10px 0;
    font-size: 1.5rem;
}
.point-color{
    color:#ed552f;
}
.event-detail{
    text-align: center;
}


.event-thumbnail img{
    box-shadow: 5px 5px 0 0 #999;
    border: 1px solid #777;
    margin: 0;
}

.event-brief, .event-thumbnail{
    margin: 10px 0;
}

.btn-event{
    /* background-color: yellow; */
    position: absolute;
    top: 0px;
    right: 0px;
}

.btn-event-prev, .btn-event-next{
    /* font-size: 0; */
    /* text-indent:-10000px */
    width: 19px;
    height: 18px;
    background-image: url(./images/back_forward.png);
    background-repeat: no-repeat;
    border: 0;
    padding: 18px 0 0 0;
    overflow: hidden;
    display: inline-block;
    /* border: transparent; */
}

.btn-event-prev{
    background-position: 0 0;
}

.btn-event-next{
    background-position: 100% 0;
}

/* 슬로건 */
.slogan{
    background-color: orange;
    height: 10vh;
}
/* 푸터 */
.footer-bg{
    background-color: purple;
    width: 100vw;
}

.footer{
    background-color: yellow;
    height: 10vh;
}
