@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./fontello.css);
@import url(./normalize.css);



/* 기본 박스 사이징 재설정 (width에 border-width와 padding을 포함하여 계산) */
*, *::before, *::after{
    box-sizing: border-box;
}
/* 숨김 콘텐츠 */
.a11y-hidden{
    position: absolute;
    width: 1px;             
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);
    clip-path: polygon(0 0, 0 0, 0 0);
}

/* CSS Module */
/* float 이슈를 해결하기 위한 CSS 선언 */
.clearfix::after{
    content: "";
    display: block; /* content는 inline 요소라 클리어가 무시됨 따라서 display에 block을 설정해줌*/
    clear: both;    /* 모두 float라서 main이 높이 못잡아도 clearfix가 강제로 마진 추가함(탑방향으로)*/
}

/* 기본설정 */
html{
    font-size: 10px;
}
body{
    font-size: 1.4rem;
    color: #181818;
    background-color: #fff;
    font-family: 'spoqa han sans', 'sans-serif';
    font-weight: 300;
}
a{
    text-decoration: none;
    color: inherit;
}

.container{
    background-color: silver;
    /* display: flex;
    flex-direction: column;     /* flex정렬 방향(justify-content: 주축, align=items: 교차축) */
    /* align-items: center; */
}

.header, .visual, .main, .slogan, .footer{
    box-sizing: border-box;
    width: 940px;
    
    margin: 0  auto;
}

.header{
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    padding: 0 30px;
    position: relative;
    /* height: 10vh; */
}

/* 로고 */
.logo{
    position: absolute;
    top: 45px;
    left: 62px;
    margin: 0;
    /* z-index: 10; */
}

/* 멤버 링크 */
.member{
    margin: 0;
    padding: 2px 0;
    list-style-type: none;
    text-align: right;
    font-size: 0;
    position: relative;
    right : -10px;
}

.member li, a{
    display: inline-block;
}

.member li{
    /* background-color: yellow; */

    font-size: 1.4rem;
}

.member li:nth-child(n+2)::before{
    content: ":";
    margin: 0, 2px;
}

.member a{
    text-transform: uppercase;
    padding: 8px 10px;
    /* background-color: aqua; */
}

/* 메인메뉴 */
.navigation{
    padding-bottom: 50px;
}
.menu{
    height: 47px;
    list-style: none;
    padding-left: 225px;
    margin: 0;
    background: linear-gradient(to bottom, #e8852e 0%,#ed552f 35%,#ed552f 70%,#e8852e 100%); /*그라이언트는 백그라운드 이미지임*/
    background-color: #ed552f;      /* 그라디언트가 안될때 백그라운드 컬러가 적용되기 위해서 설정함 */
    border-top: 2px solid #000;         
    /* box-shadow: 0 -10px 0 0 #000;   */
   
}

.menu-act .menu-button{
    color: yellow;
}
.menu-act .menu-button::after{
    content: "";
    display: block;
    border-top: 2px solid #000;
    background-color: green;
}


.menu-item{
    /* background-color: skyblue; */
    outline: none;
    position: relative;
    float: left;  
    border-left: 2px solid rgba(255,255,255,0.3);
}

.menu-button{
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 1.6rem;
    display: block;
    line-height: 45px;
    padding: 0 20px;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

.submenu{
    list-style: none;
    padding-left: 0;
    margin: 0;
    position: absolute;
    /* background-color: lightgreen; */
    display: none;
    white-space: nowrap;
    top: 47px
}

.menu-act .submenu{
    /* background-color: pink; */
    display: block;
}

.menu li:nth-child(-n+3) .submenu{
    left: 0;
}

.menu li:nth-child(n+4) .submenu{
    right: 0;
}

.submenu li{
    display: inline-block;
}

.submenu a{
    padding: 8px 10px;
    /* background-color: yellow; */
}

.visual{
    position: relative;
    background-color: lime;
    
    height: 120px;
}

@keyframes textAni{
    0%{
        font-size: 12px;
        color: rgba(0,0,0,0);
        transform: translate(0,0);
    }

    100%{
        font-size: 24px;
        color: rgba(0,0,0,1);
        transform: translate(400px, 75px);
        
    }
}
.visual::before, .visual::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    animation: bgAni 2s infinite alternate;
}

@keyframes bgAni{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
.visual::before{                /* 의미가 없기 때문에 가상선택자로 이미지 설정, 그림 안읽음 */
    background-image: url(./images/ani_flower_01.png)
    ,url(./images/ani_flower_02.png) ;
    background-position: 0 -10px, 670px 0;
}

.visual::after{
    background-image: url(./images/ani_flower_03.png)
    ,url(./images/ani_flower_04.png);
    background-position: 300px 0, 800px 0;
    animation-delay: 1s;
}

.visual-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    background-color: yellow;
    animation-name: textAni;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
    color: rgba(0,0,0,0);
}

.main{
    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap; /* flex방향, 줄바꿈 허용 선언 */
    justify-content: space-around;  /* 균등분배 */
    height: 60vh;
    padding: 30px 15px;
    background-color: #fff;

    /* flex-wrap: wrap; 줄바꿈 허용 */
    /* overflow: hidden;           reflow:다시그림->자식요소 높이 불러옴-> main이 다시 그림 repaint */
    /* padding: 30px 15px; */
}

.group{
    /* float: left;
    height: 60vh;
    margin:  0 15px; */
}

.group1{
    background-color: tomato;
    width: 250px;
}

.group2{
    background-color: skyblue;
    width: 380px;
}

.group3{
    background-color: pink;
    width: 190px;
    /*order: -1; */                 /* 랜더링 순서는 기본 0, 작을수록 먼저 렌더링*/
}




.slogan{
    background-color: orange;
    height: 10vh;
}

.footer-bg{
    background-color: purple;
    width: 100vw;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}

.footer{
    background-color: yellow;
    height: 10vh;
}
