.App {
  text-align: center;
}

.h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  height: 250px;
}

fieldset {
  border: solid;
  border-color: orange;
}

input {
  display: block;
  border: none;
  border-bottom: solid;
  border-color: red;
}

strong {
  display: block;
  font-size: 20px;
  margin: 0;
  margin-top: 1px;
}

.loginBtn {
  border: solid;
  border-color: green;
  background-color: transparent;
  margin: 0 auto;
  display: block;
  width: 130px;
  height: 30px;
}

.blue {
  color: blue;
}
