.container {
  width: 100%;
  height: 100%;
}

.headerWrap {
  width: 100%;
}

.member {
  display: flex;
  justify-content: flex-end;
}

.mainNav {
  display: flex;
  justify-content: flex-end;
}

.mainNav ul {
  display: flex;
  justify-content: space-around;
  /* justify-content: flex-end; */
}

.mainEventWrap {
  width: 100%;
  height: 100%;
  background-image: url('https://image.istarbucks.co.kr/upload/common/img/main/2020/summer3_mv_bg.jpg');
}

.mainEvent button {
  background: transparent;
  border: 2px solid white;
}

.mainEvent {
  position: relative;
}

.mainEvent a {
  color: white;
  font-weight: 400;
}

.beverage1 {
  position: absolute;
  left: 34.91%;
  bottom: 10%;
  max-width: 285px;
  width: 25%;
}

.beverage1 img {
  width: 100%;
  height: 100%;
}

.beverage1 .beverageTxtImg {
  position: absolute;
  left: -60%;
  bottom: 30%;
  width: 73%;
  height: 16%;
}

.beverage2 {
  position: absolute;
  top: 13.02%;
  left: 58%;
  bottom: 10%;
  max-width: 170px;
  width: 15.46%;
}

.beverage2 img {
  width: 100%;
  /* height: 100%; */
}

.beverage2 .beverageTxtImg {
  position: absolute;
  left: -140%;
  top: 0;
  width: 130%;
  height: 16%;
}

.beverage3 {
  position: absolute;
  /* top: 13.02%; */
  right: 3%;
  bottom: 18%;
  max-width: 322px;
  /* width: 40%; */

  width: 29.28%;
}

.beverage3 img {
  width: 100%;
  /* height: 100%; */
}

.beverage3 .beverageTxtImg {
  position: absolute;
  left: 21%;
  bottom: -20%;
  width: 70%;
  /* height: 16%; */
}

.notices {
  display: flex;
  width: 100%;
}

.notices button {
  background-color: transparent;
  border: none;
}

.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.notice span {
  margin-right: 20px;
}

.notice a {
  color: white;
}

.noticeMore {
  background-color: transparent;
  background-image: url('https://www.starbucks.co.kr/common/img/common/btn_notice_plus.png');
  background-size: cover;
  border: none;
}

.promotion button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

.promotion a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promotion span {
  margin-right: 20px;
}

.promotionMore {
  background-image: url('https://www.starbucks.co.kr/common/img/common/btn_notice_plus.png');
  background-size: cover;
}

.rewardWrap {
  background-image: url('https://www.starbucks.co.kr/common/img/main/reward_texbg.jpg');
  /* background-size: cover; */
}

.reward {
  display: flex;
}

.rewardLogoWrap {
  position: relative;
}

.rewardText {
  position: absolute;
  left: 30px;
  top: 45%;
}

.memberReward {
  display: flex;
  width: 100%;
  padding-top: 50px;
}

.signUpWrap {
  width: 250px;
}
.signUpWrap button {
  width: 120px;
  height: 35px;
  /* background-color: transparent; */
  border: 1px solid rgb(39, 39, 39);
}

.rewardSignUp {
  background-color: rgb(39, 39, 39);
  color: white;
}

.rewardLogin {
  background-color: transparent;
}
