.ulUserDataContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.liUserData {
  display: flex;
  align-items: center;
  position: relative;
  width: 300px;
  height: 70px;
  background-color: grey;
  list-style: none;

  margin: 5px auto;
}

.deleteUserData {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.fas.fa-user {
  font-size: 40px;
  padding: 15px;
}

.userDataContainer {
  margin-left: 10px;
}

.userData {
  display: block;
}
