body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.addressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: antiquewhite;
  padding: 20px;
}
