body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.addressContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 80vh;
  background-color: antiquewhite;
  padding: 20px;
}

.addrInfo {
  width: 38vw;
  height: 78vh;
  overflow: hidden;
}

.scrollHidden {
  width: 40vw;
  height: 80vh;
  background-color: aquamarine;
  overflow: scroll;
}

.addrAdd {
  width: 38vw;
  height: 78vh;
  background-color: burlywood;
}
